<section class="hero is-primary is-large">
    <div class="hero-body pt-4 pb-6 ">
        <div class="container">
            <div class="columns is-centered ">
                <div class="column is-5 mt-6 pt-6">
                    <figure class="image is-64x64 mb-4">
                        <img src="{{ .Params.img }}">
                    </figure>
                    <h1 class="title is-size-2 is-size-1-desktop has-text-weight-bold ">
                        {{ .Params.title }}</h1>
                    <p class="subtitle is-size-4 has-text-weight-semibold has-text-grey">
                        {{ .Content }}</p>
                </div>
                <div class="column is-1"></div>
                <div class="column is-4">
                    {{ partial "contact" . }}
                </div>
            </div>
        </div>
    </div>
</section>